body{
    background-image: url(../media/cpage.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#form1{
    padding-top: 4%;
    text-align: center;
}
#form1 .hedingm{
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    color: black;
}
#form1 .input1{
    margin-top: 50px;
}
input{
    border: 3px solid white;
    border-radius: 10px;
    height: 50px;
    width: 350px;
    background: transparent;
    text-align: center;
}
#form button{
    margin-top: 50px;
    width: 200px;
}

#imgpos{
    margin-top: 30px;
}

img{
    border:none;
    border-radius: 7px;
}