<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/styleabus.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/button.css" />
    <link rel="stylesheet" href="/stylesheets/stylecus.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  
  </head>
  <body>
    <div id="hero">
      <div id="nav">
        <a class="naam" href="#">EUPHONIC</a>
      </div>
      <div id="content">
        <div id="text">
          <h1>GET MUSIC RECOMMENDED BASED ON BAND OR WORD SELECTION</h1>
          <button class="button1" onclick="window.location.href = 'main'"><span></span><span></span><span></span><span></span>TRY NOW</button>
          </div>
        <div id="image">
            <img src="/images/image1.png" alt="#" height="100%" >
        </div>
      </div>
    </div>

    <div class="wrapper">

      <div class="background-container">
          <div class="bg-1"></div>
          <div class="bg-2"></div>
  
      </div>
      <div class="about-container">
          
          <div class="image-container">
              <img src="/images/euphoimg.png" alt="">
              
          </div>

          <div class="text-container">
              <h1>About Us</h1>
              <p>There are a lot of audio streaming platforms available today on the internet which allow users to stream digital copyright restricted songs on demand from a centralized library provided by the service. Our website EUPHONIC is a self adapting system that learns about people by asking them about what they like and what they don’t. Euphonic is a kind of a search engine for music one doesn’t know about. Our website suggests music to people on the basis of their words/bands preference.
                  This makes Euphonic unique, enjoyable and amusing.</p>
              
          </div>
          
      </div>
  </div>


    <div id="features">
      <div class="sections">
        <div class="left-side">
          <img src="/images/image2.png" alt="#" >
        </div>
        <div class="right-side">
          <h1>Features<br><br></h1>
          <ul>
            <li>
              <p>Self learning platform, learns and evolves according to choices made by visitors<br><br></p>
            </li>
            <li>
              <p>Provides a wide range of songs suggestions to visitors<br><br></p>
            </li>
            <li>
              <p>Shows the musical trend<br><br></p>
            </li>
            <li>
              <p>The only unique and enjoyable music suggestion website that suggests music based on the visitors choices<br><br></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="vfeed">
      <div id="content">
        <div id="text">
          <section class="heding">VISITORS<BR>FEEDBACK</section>
          <section class="cntnt">See what our satisfied visitors <br>have to say about us!</section>
        </div>
        <div id="image">
          <div class="reviews">
            <hr color="black" size="2px">
            <section class="cntnt1">As a music lover, Myxeria is a great way to discover new music.</section>
            <section class="cntnt2">Sebastian Bennett, <br>new delhi</section>
            <hr color="black" size="2px">
            <section class="cntnt1">As a music lover, Myxeria is a great way to discover new music.</section>
            <section class="cntnt2">Sebastian Bennett, <br>new delhi</section>
            <hr color="black" size="2px">
            <section class="cntnt1">As a music lover, Myxeria is a great way to discover new music.</section>
            <section class="cntnt2">Sebastian Bennett, <br>new delhi</section>
            <hr color="black" size="2px">
          </div>
        </div>
      </div>
    </div>
    <div class="cus-section">
    <div class="contact-section">
      <div class="contact-info">
        <div><i class="fas fa-map-marker-alt"></i>plot40-Lajpat Nagar-122018</div>
        <div><i class="fas fa-envelope"></i>euphonic123@gmail.com</div>
        <div><i class="fas fa-phone"></i>+91 0124-443321</div>
        <div><i class="fas fa-clock"></i>Mon - Fri 8:00 AM to 5:00 PM</div>
      </div>
      <div class="contact-form">
        <h2>Contact Us</h2>
        <form class="contact" action=""method="post">
          <input type="text" name="name" class="text-box" placeholder="Your Name" required>
          <input type="email" name="email" class="text-box" placeholder="Your email" required>
          <textarea name="message" rows="5" placeholder="Your Message" required></textarea>
          <input type="submit" name="submit" class="send-btn" value="send">
        </form>
      </div>
    </div>
    </div>
    <!-- <script src="/js/scroll.js"></script> -->
  </body>
</html>
